/* .text-container {
    margin: 0 auto;
    max-width: 65%;
    border: red solid 1px;
}

.about__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: #0055a3;

}

.about__image {
    width: 300px;
}

.about__body {
    width: 50%;
    margin: 0 auto 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #1e1f20;
} */