/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    letter-spacing: .75px;
} */