@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Assistant';
  src: local('Assistant'), url(./Assistant-VariableFont_wght.ttf) format('truetype');
}

html, body{
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Assistant, apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, input {
  font-family: Assistant, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  height: 75%;
}

.test {
  text-shadow: 3px 3px 1px rgb(211, 211, 211);

}

.easy {
  /* text-shadow: 3px 3px 1px rgb(211, 211, 211); */
  -webkit-text-fill-color: transparent;
}

.burger {
  display: none;
}
